.wrapper
{
    max-width: 1000px;
    margin: 25px auto;
    background-color: black;
    background: -webkit-radial-gradient(30px 20px, cover, black, black);
}

header 
{
    font-family: "Lato";
    height: 60px;
    overflow: hidden;
}

.container 
{
    max-width: 1000px;
    margin: 0 auto;
}

#fon_wrapper
{
    background-color: white;
    opacity: 0.9;
}
.fon 
{
    height: 660px;
    background: url(10.jpeg);
    background-size: 1000px 660px;
}

#logo
{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    text-shadow: 1px 1px 3px white;
    text-decoration: none;
    color: #fff7d3;
    float: left;
}
#logo:hover
{
    color: orange;
    text-shadow: 1px 1px 3px orange;
    cursor: pointer;
}

h1
{
    font-family: "Lato";
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 3px orange;
    text-align: right;
    line-height: 38px;
    color: navajowhite;
    position: relative;
    top: -450px;
    right: 15px;
    opacity: 0.85;
    
}

.text_wrapper
{
    
    margin: 50px auto;
    width: 700px;
    height: 300px;
}
#main_description
{
    font-family: serif;
    font-size: 20px;
    text-shadow: 1px 1px 3px yellow;
    text-align: center;
    color: fff7d3;
    line-height: 28px;
    
}

nav > a:hover
{
    color: orange;
    text-shadow: 1px 1px 3px white;
}


#footer_logo
{
    font-family: serif;
    font-size: 20px;
    text-shadow: 1px 1px 3px orange;
    text-align: center;
    color: white;
    position: relative;
    top: -10px;
}

nav > a
{
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 3px white;
    color: white;
    clear: both;
    position: relative;
    left: 450px;
    top: 15px;
    overflow: hidden;
    
}